.edit-btn-div{
    height: 100px;
    margin-right: 18px;
}
.title-header{
    font-weight: bold;
    font-size: 1.5rem;
}
.table-container {  
    max-height: 71vh;
    overflow-y: auto;
}
table{
    width: 100%;
}
tbody{
    /* max-height: 60vh; */
    /* overflow-y: auto; */
}
.table-header {
    /* background-color: #1D6F42; */
    /* padding: 10px;
    position: sticky;
    color: #1D6F42; */
}

th,
td,
tr,
thead {
    padding: 8px;
    border: 1px solid #1D6F42;
}

.edit-button{
    background-color: #1D6F42;
    float: right;
    border: none;
    color: white;
    padding: .5rem;
    border-radius: .5rem;
}
thead {
    /* overflow-y: hidden; */
    position: sticky; 
    /*Make the header sticky*/
    top: 0; 
    background-color: #1D6F42;
    color: white;
    border: 1px solid black;
   
    /* Stick to the top */
    /* background-color: #f2f2f2; */
  }
  th{
    border: 1px solid black;
  }
  tbody{
    max-height: 60vh;
    overflow-y: auto;
  }